* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(180deg, yellow 0%, orange 100%);
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    border-bottom: 2px solid #00ff80;
}

header {
    width: 100vw;
    background: rgb(0, 0, 0);
    background: linear-gradient(81deg, rgb(0, 0, 0) 0%, rgba(10, 255, 206, 0.822) 55%, rgba(10, 217, 255, 0.8071603641456583) 70%, #000 100%);
    background-repeat: no-repeat;
}

header nav {
    width: 80vw;
    border-bottom: 5px solid #ccc;
    margin: 0 auto;
    text-align: center;
}

header nav ul {
    list-style-type: none;
    display: flex;
    padding: 13px;
    justify-content: space-evenly;
    align-items: center;
}

header nav ul li a {
    display: block;
    padding: 5px 13px;
    text-decoration: none;
    color: white;
    font-size: 10pt;
    text-transform: uppercase;
}

.active {
    border: 2px solid #fc2;
    color: orange;
}

nav a:hover {
    border: 2px solid #fc2;
    color: orange;
    scale: 1.1;
}

main {
    margin-top: 13vh;
}

.aboutContianer {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 5rem auto;
    line-height: 2;
}

.aboutContianer p {
    font-size: 15pt;
}

.aboutContianer h1,
.aboutContianer h2 {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #00ff80;
}

strong {
    color: #0cbd0c;
}

@media(max-width: 700px) {
    .aboutContianer {
        width: 80%;
    }
}




.game-container {
    margin: 0 auto;
    width: 20rem;
    height: 20rem;
    border: 2px solid #ccc;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}



.box1,
.box2,
.box3,
.box4,
.box5,
.box6,
.box7,
.box8,
.box9 {
    border: 1px solid #000;

}

.btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20rem;
    margin: 0 auto;
    margin-top: 15px;
}

.btns button {
    padding: 12.5px 25px;
    border: 2px solid #ccc;
    font-size: 15pt;
}

.btns button:hover {
    scale: 1.08;
    cursor: pointer;
}

.gameButton {
    width: 100%;
    height: 100%;
    font-size: 29pt;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    cursor: pointer;
}

.newGame {
    display: flex;
    justify-content: center;
    width: 20rem;
    margin: 0 auto;
    margin-top: 15px;

}

.newGame button {
    padding: 12.5px 25px;
    border: 2px solid #ccc;
    font-size: 15pt;
    background: linear-gradient(81deg, rgb(0, 0, 0) 0%, rgba(10, 255, 206, 0.822) 55%, rgba(10, 217, 255, 0.8071603641456583) 100%);
    background-repeat: no-repeat;
    color: #fff;
    font-weight: bold;
    display: none;
}

.newGame button:hover {
    scale: 1.08;
    cursor: pointer;
}

.message {
    text-align: center;
    font-size: 2em;
    margin-top: 20px;
    color: red;
}